/* Full image control */
.custom-gallery .image-gallery-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-gallery .image-gallery-image {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

/* Style the dots */
.image-gallery-bullets {
  bottom: 10px;
}

.image-gallery-bullet {
  width: 10px;
  height: 10px;
  margin: 0 4px;
  background-color: #ccc;
  border-radius: 50%;
}

.image-gallery-bullet.active {
  background-color: #4f46e5;
}
